/*
ELEMENT {
 atribuut: väärtus
 atribuut: väärtus
 atribuut: väärtus
 ...
}
*/

h1 {
    /* Koodi blokk*/
    /*
      Mitmerealine Comment  
    */

    color: blueviolet !important;

}

p {
    background-color: grey;
    color: brown;
    width: 336px;/* Laius */
    /*height: 50px;*/ /* Kõrgus */
}

h1 {
    color: black;
}

/*
    . - Class
    # - Id
*/

/* CamelCase */
.extraSpace {
    color: blue;
    height: 200px;
    width: 400px;
}

.extraSpace2 {
    font-size: 25px;
}

#newColor {
    color: cyan;
}

.redText {
    color: red;
}

.firstDiv {
    height: 150px;
    width: 150px;
    background-color: coral;
    padding: 5px 1px 10px 20px;
    /*padding-bottom: 5px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 20px;*/
    margin: 20px;
    border: 1px solid;
}

.secondDiv {
    min-width: 150px;
    height: 20px;
    background-color: rgb(183, 182, 180);
}

.testZ {
    /* Z positisoon */
    height: 50px;
    width: 50px;
    
}

.divpos1 {
    position: static;
    width: 200px;
}

.divpos2{
    position: fixed;
    bottom: 20px;
    left: 50px;
    z-index: -1;
    /*
     -lõp -> lõp
     standart Z-index  == 0
    */
}

.divpso3 {
    position: fixed;
    bottom: 25px;
    left: 55px;
    z-index: -2;
}

.divpso4 {
    position: sticky;
    width: 100%;
    top: 0px;
    left: 0px;
}

.divpso5 {
    position: relative;
    top: 5px;
    left: 10px;
}

.banner {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}