h1 {
    /* Koodi blokk */
    color: brown;
    /* Atribuut: väärtus */
}

/* Kõik elemendid */
p {
    /* !important seadistab prioriteedi esimeseks*/
    color: rgb(0, 0, 0);
}

h2 {
    color: rgb(8, 70, 49);
}

/* . tähistab Classi*/
.heading2 {
    color: chartreuse;
}

/* # tähistab id */
#headingId {
    color: #34346a; 
}

/*
    Tekts - Red
    RGB / RGBA - RED Green Blue Alpha
        RED - 255 0 0 1
        GREEN - 0 255 0 1
        BLUE - 0 0 255 1
        Alpha - 1 -> 0
    Hex - 16 bit värvi süsteem
        0-9 ja A-F
        0000000000000000 - 0
        0000000000000001 - 1
        0000000000000010 - 2
        0000000000000011 - 3
        0000000000000100 - 4
        0000000000000101 - 5
        1111111111111111 - F
*/

/*
OtsitavSõna {
    Atribuut: Väärtus;
    Atribuut: Väärtus;
    Atribuut: Väärtus;
    Atribuut: Väärtus;
    Atribuut: Väärtus;
}
*/
p.customHeading {
    color: rgb(19, 196, 99);
    text-align: center;
    background-color: #34346a;
}

h3.customHeading {
    color: rgb(187, 19, 196);
}

div {
    background-color: blueviolet;
}

.paraBox {
    margin: 0px;
}

table, td, th {
    border: 2px solid red;
}

table {
    border-collapse: collapse;
}

td, th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    height: 250px;
    width: 300px;
    margin-top: 10px;
    position: relative;
    
}

.inDiv1, .inDiv2, .inDiv3, .inDiv4, .inDiv5 {
    height: 50px;
    width: 50px;
    background-color: rgb(1, 150, 23);
    top: 10px;
    left: 80px;
}

.inDiv1 {
    position: static; /* Deafault */
}

.inDiv2 {
    position: relative;
}

.inDiv3 {
    position: absolute;
}

.inDiv4 {
    position: fixed;
}

.inDiv5 {
    position: sticky;
    right: 100px;
    top: 100px;
    z-index: 10;
}


/* 
    DDos
    ping - kiire kontroll kas server töötab
    ping 8.8.8.8 - kontrollida kas internet töötab
    127.0.0.1 - oma arvuti ip
    192.167.1.1 - ruuteri ip
*/

.imgBack {
    background-image: url("./pilt1.jpg");
    background-size: cover;
    height: 250px;
}

img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}