body {
    margin: 15px;
}

.container > div {
    font-size: 50px;
}

.container {
    width: fit-content;
}

.text-center {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.middle {
    border-bottom: 2px solid;
    border-top: 2px solid;
}

.middleSide {
    border-right: 2px solid;
    border-left: 2px solid;
}

.winner {
    background-color: #c92b2b;
}