/*.container {
    background-color: grey;
}

.container > div, .custom {
    background-color: brown;
}*/

.btn-success {
    --bs-btn-bg: #871919;
}

.custom {
    background-color: blue;
}

.custom:hover {
    background-color: #871919;
}

.custom:active {
    background-color: blueviolet;
}