/*h1 {
    font-weight: 200;
}*/

/*.container {
    background-color: gray;
}

.col {
    background-color: brown;
}

.row > div {
    border: solid 1px black;
}*/

.btn-primary-1 {
    --bs-btn-bg: #0c336b;
    --bs-btn-hover-bg: #ad00ff;
}

/* Default state */
.hovering {
    color: blue;
}

/* Mose ove element state */
.hovering:hover {
    color: black;
    font-size: large;
}

/* Mouse Left click / hold state */
.hovering:active {
    color: rgb(255, 0, 0);
}

/* If website was opened state */
.hovering:visited {
    color: rgb(0, 255, 85);
}

.carousel-item > img {
    height: 500px;
}